<div class="hero-img d-flex align-items-center mb-5">   

   
    <div class="container">
        <h1>@ViewBag.Title</h1>


        @{
            var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
            if (!User.Identity.IsAuthenticated && controllerName == "Home")
            {
                <a class="btn btn-dark" href="../../Account/Login">Get started</a>
            }
        }



    </div>


</div>