@model List<BitcoinLogger.Entites.Bitcoin>
@{
    ViewBag.Title = "All fectched entries";
}





    <div class="d-flex justify-content-between py-3">
        <h3>We found @Model.Count() entries</h3>
        <div class="currency_option">
            <label for="">Select your Currency</label>
            <select id="currency">
                <option value="usd">USD</option>
                <option value="euro">EUR</option>
            </select>
        </div>

    </div>


<table id="BitcoinPricelistTable" class="display">

        <thead>
            <tr>
                <th>
                  Source
                </th>
                <th>
                    Price
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>   @item.Source</td>
                    <td>
                        <span class="price">    @item.Price </span> <span class="c_sign"></span>
                    </td>
                    <td>
                        @item.Date.ToString()
                    </td>
                    <td>
                        <a href="#">Comment</a> | <a class="text text-danger" href="#">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

