@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bitcoin Logger</h1>
    <p class="lead">Login to View the full list of bitcoin prices in the market.</p>
    
</div>

<ul>
    <li>
        <a href="../Bitstamp/Fetch">Get Bitcoin Price from Bitstamp</a>
    </li>
    <li>
        <a href="../Coindesk/Fetch">Get Bitcoin Price from Coindesk</a>
    </li>

    <li>
        <a href="../Gdax/Fetch">Get Bitcoin Price from GDAX</a>
    </li>
</ul>

<hr />
<center>
    <a href="../Bitcoins/Index">
        Click here to see all price entries >
    </a>
</center>