@{
    ViewBag.Title = "Bitcoin Logger";

}


<div class="container">
    <h3>Available Sources</h3>
    <table class="table">


        <tr>
            <td>Bitstamp</td>
            <td><a class="btn btn-outline-success btn-sm" href="../Bitstamp/Fetch">Fetch Price</a></td>
        </tr>

        <tr>
            <td>Coindesk</td>
            <td><a class="btn btn-outline-success btn-sm" href="../Coindesk/Fetch">Fetch Price</a></td>
        </tr>

        <tr>
            <td>GDAX</td>
            <td><a class="btn btn-outline-success btn-sm" href="../Gdax/Fetch">Fetch Price</a></td>
        </tr>

    </table>

</div>


<div class="text-center my-5">
    <a class="text text-secondary" href="../Bitcoins/Index">See all fetched prices here ❭</a>
</div>
